// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }
// get rid of ::marker list-item that displays when list-wrapper element is active
ul > li::marker {
  content: '';
}

.sidebar-nav-item {
  margin: 0;
}
// @keyframes fadeOut {
//   100%, 50% {opacity: 1;}
//   49%, 0% {opacity: 0;}
// }

@import "sub-menu"